@media (max-width: 1366px){
    .collection {
        grid-template-columns: repeat(3,1fr);
        &__images {
            width: 100%;
        }
    }
    .map {
        margin-top: 0;
    }
}
@media (max-width: 1200px){
    .top {
        &__slider-title {
            font-size: 62px;
            line-height: 74px;
        }
        &__slider-img {
            height: 640px;
        }
    }
}
@media (max-width: 992px){
    .footer {
        &__info {
            width: 380px;
        }
    }
    .gallery {
        &__items {
            grid-gap: 10px;
        }
        &__buttons {
            display: grid;
        }
        &__btn {
            margin-bottom: 10px;;
            padding: 6px 10px;
        }
    }
    .about {
        &__content {
            padding: 40px 0;
        }
        &__content-text  {
            padding-left: 0;
        }
    }
    .detalis {
        &__content-img {
            display: none;
        }
        &__info {
            padding: 0 10px;
        }
    } 

}
@media (max-width: 840px){
    .top {
        &__inner {
            &::after {
                height: 100%;
            }

        }
        &__slider-title {
            font-size: 44px;
            line-height: 56px;
        }
        &__slider-img {
            height: 540px;
        }
    }
    .collection {
        grid-template-columns: repeat(2,1fr);
    }
    .works-path {
        &__item {
            width: 350px;
        }
        &__item--production {
            margin-left: 50px;
        }
    }
    .contact {
        &__block {
            padding-left: 0;
        }
    }
}
@media (max-width: 768px){
    .header__btn {
        display: none;
    }
    .menu {
        &__list-item {
            padding-left: 0;
            & + .menu__list-item {
                padding-right: 0;
            }
        }
    }
    .logo {
        margin: 0;
    }
    .footer {
        &__inner {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__info {
            width: 100%;
            max-width: 100%;
            margin-bottom: 50px;
        }
        &__info-text {
            width: 100% ;
        }
        &__menu {
            margin-left: auto;
            margin-right: auto;
        }
        &__social_list {
            margin-left: auto;
            margin-right: auto;
        }
    }
    .decor {
        padding: 70px 0 55px;
    }
    .works-path {
        &__item--measurements {
            margin-left: 100px;
        }
    }
    .about {
        &__prev-title {
            padding: 80px 0;
        }

    }
    .partners {
        &__items {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    .map {
        iframe {
            height: 378px;
        }
    }

}
@media (max-width: 650px){
    .top {
        &__inner {
            padding-top: 30px;
            padding-bottom: 25px;
        }
        &__slider-item {
            img.top__slider-img {
                display: none;
            }
        }
        &__slider-text {
            margin-bottom: 15px;
        }

    }
    .works-path {
        &__item-box::before,
        &__item--measurements::before,
        &__item--production::before {
            display: none;
        }
        &__item {
            width: 100%;
        }
        &__item-box {
            border: none;
            display: flex;
            flex-wrap: wrap;
        }
        &__item--measurements {
            margin-left: 0;
            padding-top: 0;
            padding-bottom: 38px;
        }
        &__item--production {
            margin-left: 0;
            order: 1;
        }
    }
    .blog-box {
        &__items {
            display: block;
        }
        &__img-link {
            display: block;
        }
        &__img {
            width: 100%;
        }
    }
    .contact {
        &__form-input {
            width: 100%;
        }
    }
}
@media (max-width: 540px){
    .logo {
        order: -1;
        position: relative;
        z-index: 12;
    }
    .header {
        &__inner {
            flex-wrap: wrap;
            padding-top: 42px;
        }
        &__btn-menu {
            display: block;
            background-color: transparent;
            border: none;
            cursor: pointer;
            position: relative;
            z-index: 12;
            order: -1;
            span {
                background-color: #000;
                height: 3px;
                width: 37px;
                border-radius: 4px;
                display:block;
                margin: 6px 0;
            }
        }
    }
    .menu {
        padding-right: 0;
        width: 100%;
        background-color: #fff;
        position: relative;
        z-index: 11;
        text-align: center;
        transform: translateY(-350px);
        transition: all 0.5s;
        &--open {
            transform: translateY(30px);
        }
        &__list {
            display: block;
            
        }
        &__list-item {
            padding-right: 0;
        }
        &__list-link {
            display: block;
            padding: 15px;
        }
        &__list-link--active::after {
            display: none;
        }
    }

    .works-path {
        &__item-title {
            font-size: 16px;
            line-height: 27px;
        }
    }
    .collection {
        grid-template-columns: repeat(1,1fr);
    }
    .new-collection {
        &__title {
            font-size: 28px;
            line-height: 36px;
        }
    }
    .decor {
        &__title {
            font-size: 28px;
            line-height: 36px; 
        }
    }
    .works-path {
        &__title {
            font-size: 28px;
            line-height: 36px; 
        }
    }
    
    .gallery {
        &__items {
            grid-template-columns: repeat(1, 1fr);
        }
        &__item:first-child {
            grid-column: 1;
            grid-row: 1;
        }
        &.gallery-page {
            .gallery__item:nth-child(8) {
                grid-column: span 1;
                grid-row: span 1;
            }
        }

    }

    .blog-box {
        &__title {
            font-size: 28px;
            line-height: 36px; 
        }
    }
    .about {
        &__prev-title {
            font-size: 40px;
            line-height: 50px;
        }
        &__content-title {
            font-size: 28px;
            line-height: 36px; 
        }
    }
    .detalis {
        &__title {
            font-size: 28px;
            line-height: 36px;  
        }
    }
}
@media (max-width: 375px){
    .footer {
        &__inner {
            justify-content: space-between;
        }
        &__form {
            display: block;
        }
        &__form-input {
            margin-top: 10px;
        }
        .form-button {
            width: 100%;
            margin-top: 10px;
            margin-left: 0;
            margin-right: 0;
        }
        &__social_list {
            margin-left: 0;
        }
    }
}
