$title: #363838;
$default: #5A5A5A;
$white: #dfdfdf;
$dark-gray: #707070;
%title-font{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
%title-line{
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    left: 0;
    right: 0;
    background: #6D7278 ;
}

